{% extends 'base.html.twig' %}

{% block body %}
    <h1 style="text-align: center;margin-top: 120px;columns: #b1b0b0;"> Message aux membres</h1>
    <div class="all-posts">
        <p style="overflow: hidden;white-space: nowrap;text-overflow: ellipsis;">
            Laboris nisi ut aliquip ex ea commodo consequat. Quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae.Laboris nisi ut aliquip ex ea commodo consequat. Quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae.
            Laboris nisi ut aliquip ex ea commodo consequat. Quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae.
            Laboris nisi uts dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae.
        </p>
        <a href="#">Lire tout</a>
    </div>
    <h1 style="text-align: center;margin-top: 30px"> Tous les posts</h1>
    <div class="row">
        {{ include ('pages/post.html.twig') }}
        {{ include ('pages/post.html.twig') }}
        {{ include ('pages/post.html.twig') }}
        {{ include ('pages/post.html.twig') }}
        {{ include ('pages/post.html.twig') }}
        {{ include ('pages/post.html.twig') }}


    </div>
{% endblock %}